body{
    background-color: #030303;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Russo One', sans-serif;
    font-family: 'Zen Antique Soft', serif;
    color: aliceblue;
    overflow-x: hidden;
    overflow-y: hidden;
}
nav{
    padding-left: 15%;
    display: inline-flex;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Y-andermo';
}
nav p{
    padding-left: 10px;
    margin-right: 10px;
}
.menu{
     text-decoration: none;
    transform: translateY(100%); 
}


.menu ul li{
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    padding-bottom: 35px;
    padding-left: 25px;
    font-size: 30px;
}
section{
    transform: translate(17%,-45%);
    font-family: 'Archivo Black', sans-serif;
    font-size: 60px;
}
section h4{
    margin-top: -70px;
    font-size: 15px;
    font-weight: 900;
}
section p{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size:15px;
}
section h6{
    font-family: 'Archivo Black', sans-serif;
    font-size: 15px;
    margin-top: 60px;
}
.click{
    display: inline-flex;
}
.click a{
    color: white;
    text-decoration: none;
}
hr{
    height: 0px;
    width: 45px;
    margin-top: 70px;
    margin-left: 20px;
}
::-webkit-scrollbar {
    width: 16px;
}
 
::-webkit-scrollbar-track {
    background-color: #111111;
    border-radius: 100px;
}
 
::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 100px;
}


/* Main*/


/* Wrappers*/

/* Wrapper 1*/
.wrapper{
    padding-bottom: 2%;
    transform: translate(1%, 150%);
}
.wrapper .box1{
    width: 80px;
    height: 80px;
    border-radius: 15px;
    background-color:#212a33;
}.wrapper .box1 img{
    object-fit: cover;
    width: 90px;
    margin-left: -5px;
}
/* Wrapper 2*/
.wrapper .box2{
    width: 80px;
    height: 80px;
    background-color: #27333f;
    border-radius: 15px;
    opacity: 25%;
}
.wrapper .box2 img{
    object-fit: cover;
    width: 80px;
}
.wrapper .box2 .tooltip2{
    visibility: hidden;
    width: 120px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.wrapper .box2 .img:hover .tooltip{
    visibility: visible;
  }

/* Wrapper 3*/

.wrapper .box3{
    width: 80px;
    height: 80px;
    background-color: #27333f;
    border-radius: 15px;
    opacity: 25%;
}
 .wrapper .box3 img {
    object-fit: cover;
    width: 80px;
}
.wrapper .box3 .tooltip3{
    visibility: hidden;
    width: 120px;
    background-color: #27333f ;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0; 
    /* Position the tooltip */
    position: absolute;
    margin-left: 1%;
    margin-top: 1%;
}

.wrapper .box3 .img:hover .tooltip{
    visibility: visible;
  }



/* Wrapper 4*/
 .wrapper .box4{
    width: 80px;
    height: 80px;
    background-color: #27333f;
    border-radius: 15px;
    opacity: 25%;
}
.wrapper .box4 img{
    object-fit: cover;
    width: 80px;
}

.wrapper .box4 .tooltip4{
    visibility: hidden;
    width: 120px;
    background-color: #27333f ;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0; 
    /* Position the tooltip */
    position: absolute;

    margin-left: 1%;
    margin-top: 1%;
}

.wrapper .box4 .img:hover .tooltip4{
    visibility: visible;
  }

/* Section 2 Bio*/

.sec2{
    transform: translate(17%,-30%);
}
.sec2 .name p{
    font-family: 'Times New Roman', serif;
    font-size: 72px;
  
}
.inlinetitle{
    transform: translate(0px ,-75px);
}
.inlinetitle p{
    font-size: 15px;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.inlinesub{
    transform: translate(0px,-105%);
}
.inlinesub p{
    font-family: 'Times New Roman',serif;
    display: inline-block;
    font-size: 35px;
}
.subtitle{
   transform: translate(0px, -230%);
}
.subtitle p{
    display: inline-block;
    color: #A9A9A9;
    font-size: 15px;
}
#webappdev{
    padding-left: 9%;
}
#dev{
    padding-left: 7%;
}
#prof{
    padding-left: 15%;
}

@media only screen and (max-width:700px) {
    nav{
        padding-left: 5em;
        transform: translateY(50%);
    }
    section{
        transform: translate(70%, -30%);
    }
    img{
        padding-right: 25em;
    }

}